/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}
 
.container {
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
 
.answer {
  padding: 0 5px;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}
 
#login-buttons {
  display: block;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
.new-question input {
  padding: 10px 0;
  background: transparent;
  border: none;
  font-size: 1em;
  padding: 15px 0px;
}

.new-question input:focus{
  outline: 0;
}
 
ul, .new-question {
  margin: 0;
  padding: 0;
  background: white;
}

.new-question select, .new-question .btn {
  margin: 15px 0;
}

form.new-question {
  border-bottom: #eee solid 1px;
}
 
.delete, .add-btn {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
}

.btn {
  background: #3498db;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.btn:focus {
  outline: none;
}

.results-wrapper {
  height: auto;
}

/*notes from kaikai*/
/*font: Lato, Black / Regular*/
/*color-yellow: #FCEE1F*/
/*color-dark gray: #4A4A4A*/
/*section background:  #FBFBFB*/

